<div class="aboutCard">
    <div class="aboutCardImage"></div>
    <div class="aboutCardDetails">
        <!--<h2 class="aboutCardTitle">About</h2>-->
        <p>Hi, my name is Bill.</p>
        <p>I love creating things and solving problems with clean, intuitive design.</p>
        <p>Education: Biola University, LearningFuze</p>
        <p>Things I enjoy: Logic puzzles, riddles, games, family, tacos.</p>
        <h4>Skills:</h4>
        <p>Skills: HTML, CSS, Javascript, Angular, Node, Firebase, FFMPEG, Jasmine, Protractor, Git and Github</p>

    </div>

    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton" ng-click="detailsModal()">Details</button>-->
        <!--<button class="cardButton" ng-click="liveProject(app)">Demo</button>-->
    <!--</div>-->
</div>




<!--<div class="aboutCard">-->
    <!--<div class="aboutCardImage" style="background-image: url(images/bill.png)">-->
        <!--<h2 class="cardTitle">About</h2>-->
    <!--</div>-->
    <!--<p class="cardText">Hi, my name is Bill.</p>-->
    <!--<p class="cardText">I love creating things and solving problems with clean, and intuitive design.</p>-->
    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton" ng-click="detailsModal()">Details</button>-->
        <!--<button class="cardButton" ng-click="liveProject(app)">Demo</button>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="aboutCard">-->
    <!--<div class="aboutCardImage" style="background-image: url(images/image.jpg)">-->
        <!--<h2 class="cardTitle">Work History</h2>-->
    <!--</div>-->
    <!--<p class="cardText">Idea Fanatics 2016-Present</p>-->
    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton" ng-click="detailsModal()">Details</button>-->
        <!--<button class="cardButton" ng-click="liveProject(app)">Demo</button>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="aboutCard">-->
    <!--<div class="aboutCardImage" style="background-image: url(images/image.jpg)">-->
        <!--<h2 class="cardTitle">Education</h2>-->
    <!--</div>-->
    <!--<p class="cardText">Learning Fuze 2016</p>-->
    <!--<p class="cardText">Biola University 1999</p>-->

    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton" ng-click="detailsModal()">Details</button>-->
        <!--<button class="cardButton" ng-click="liveProject(app)">Demo</button>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="aboutCard">-->
    <!--<div class="aboutCardImage" style="background-image: url(images/image.jpg)">-->
        <!--<h2 class="cardTitle">Things I like</h2>-->
    <!--</div>-->
    <!--<p class="cardText">Board Games</p><br>-->
    <!--<p class="cardText">Video Games</p>-->

    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton" ng-click="detailsModal()">Details</button>-->
        <!--<button class="cardButton" ng-click="liveProject(app)">Demo</button>-->
    <!--</div>-->
</div>