<div class="card" ng-repeat="app in applications">
    <div class="cardImage" style="background-image: url({{ app.image}})">
        <h2 class="cardTitle">{{ app.title }}</h2>
    </div>
    <p class="cardText">{{ app.text }}</p>
    <div class="cardActionBar">
        <button class="cardButton" ng-click="detailsModal()">Details</button>
        <button class="cardButton" ng-click="liveProject(app)">Demo</button>
    </div>
</div>











<!--<div class="card">-->
    <!--<div class="cardImage">-->
        <!--<h2 class="cardTitle">Truck Route</h2>-->
    <!--</div>-->
    <!--<p class="cardText">This is some text about the card.</p>-->
    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton">Details</button>-->
        <!--<button class="cardButton">Demo</button>-->

    <!--</div>-->
<!--</div>-->
<!--<div class="card">-->
    <!--<div class="cardImage">-->
        <!--<h2 class="cardTitle">Effect Maker</h2>-->
    <!--</div>-->
    <!--<p class="cardText">This is some text about the card.</p>-->
    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton">Details</button>-->
        <!--<button class="cardButton">Live</button>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="card">-->
    <!--<div class="cardImage">-->
        <!--<h2 class="cardTitle">Student Grade Table</h2>-->
    <!--</div>-->
    <!--<p class="cardText">This is some text about the card.</p>-->
    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton">Github</button>-->
        <!--<button class="cardButton">Live</button>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="card">-->
    <!--<div class="cardImage">-->
        <!--<h2 class="cardTitle">Date Finder</h2>-->
    <!--</div>-->
    <!--<p class="cardText">This is some text about the card.</p>-->
    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton">Github</button>-->
        <!--<button class="cardButton">Live</button>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="card">-->
    <!--<div class="cardImage">-->
        <!--<h2 class="cardTitle">Calculator</h2>-->
    <!--</div>-->
    <!--<p class="cardText">This is some text about the card.</p>-->
    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton">Github</button>-->
        <!--<button class="cardButton">Live</button>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="card">-->
    <!--<div class="cardImage">-->
        <!--<h2 class="cardTitle">Memory Match</h2>-->
    <!--</div>-->
    <!--<p class="cardText">This is some text about the card.</p>-->
    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton">Github</button>-->
        <!--<button class="cardButton">Live</button>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="card">-->
    <!--<div class="cardImage">-->
        <!--<h2 class="cardTitle">Tic Tac Toe</h2>-->
    <!--</div>-->
    <!--<p class="cardText">This is some text about the card.</p>-->
    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton">Github</button>-->
        <!--<button class="cardButton">Live</button>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="card">-->
    <!--<div class="cardImage">-->
        <!--<h2 class="cardTitle">Argentum Age</h2>-->
    <!--</div>-->
    <!--<p class="cardText">This is some text about the card.</p>-->
    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton">Github</button>-->
        <!--<button class="cardButton">Live</button>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="card">-->
    <!--<div class="cardImage">-->
        <!--<h2 class="cardTitle">Code School Success</h2>-->
    <!--</div>-->
    <!--<p class="cardText">This is some text about the card.</p>-->
    <!--<div class="cardActionBar">-->
        <!--<button class="cardButton">Github</button>-->
        <!--<button class="cardButton">Live</button>-->
    <!--</div>-->
<!--</div>-->