<div class="card">
    <div class="cardImage">
        <h2 class="cardTitle">Truck Route</h2>
    </div>
    <p class="cardText">This is some text about the card.</p>
    <div class="cardActionBar">
        <button class="cardButton">Github</button>
        <button class="cardButton">Live</button>
    </div>
</div>
<div class="card">
    <div class="cardImage">
        <h2 class="cardTitle">Effect Maker</h2>
    </div>
    <p class="cardText">This is some text about the card.</p>
    <div class="cardActionBar">
        <button class="cardButton">Github</button>
        <button class="cardButton">Live</button>
    </div>
</div>
<div class="card">
    <div class="cardImage">
        <h2 class="cardTitle">Student Grade Table</h2>
    </div>
    <p class="cardText">This is some text about the card.</p>
    <div class="cardActionBar">
        <button class="cardButton">Github</button>
        <button class="cardButton">Live</button>
    </div>
</div>
<div class="card">
    <div class="cardImage">
        <h2 class="cardTitle">Date Finder</h2>
    </div>
    <p class="cardText">This is some text about the card.</p>
    <div class="cardActionBar">
        <button class="cardButton">Github</button>
        <button class="cardButton">Live</button>
    </div>
</div>
<div class="card">
    <div class="cardImage">
        <h2 class="cardTitle">Calculator</h2>
    </div>
    <p class="cardText">This is some text about the card.</p>
    <div class="cardActionBar">
        <button class="cardButton">Github</button>
        <button class="cardButton">Live</button>
    </div>
</div>
<div class="card">
    <div class="cardImage">
        <h2 class="cardTitle">Memory Match</h2>
    </div>
    <p class="cardText">This is some text about the card.</p>
    <div class="cardActionBar">
        <button class="cardButton">Github</button>
        <button class="cardButton">Live</button>
    </div>
</div>
<div class="card">
    <div class="cardImage">
        <h2 class="cardTitle">Tic Tac Toe</h2>
    </div>
    <p class="cardText">This is some text about the card.</p>
    <div class="cardActionBar">
        <button class="cardButton">Github</button>
        <button class="cardButton">Live</button>
    </div>
</div>
<div class="card">
    <div class="cardImage">
        <h2 class="cardTitle">Argentum Age</h2>
    </div>
    <p class="cardText">This is some text about the card.</p>
    <div class="cardActionBar">
        <button class="cardButton">Github</button>
        <button class="cardButton">Live</button>
    </div>
</div>
<div class="card">
    <div class="cardImage">
        <h2 class="cardTitle">Code School Success</h2>
    </div>
    <p class="cardText">This is some text about the card.</p>
    <div class="cardActionBar">
        <button class="cardButton">Github</button>
        <button class="cardButton">Live</button>
    </div>
</div>