<nav>
    <a href="#" id="menu-icon"></a>
    <ul class="nav">
        <!--<li ui-sref-active="active"><a ui-sref="main">Home</a></li>-->
        <!--<li ui-sref-active="active"><a ui-sref="about">About</a></li>    -->
        <li><a href="#!/home">Home</a></li>
        <li><a href="#!/about">About</a></li>
        <!--<li ui-sref-active="active"><a ui-sref="applications">Applications</a></li>-->
        <li><a ui-sref="https://github.com/iamleonhardt"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a ui-sref="https://linkedin.com/in/iamleonhardt"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    </ul>
</nav>