<div class="nameWrapper">
    <h1 class="name">iamleonhardt</h1>
    <ul class="nav2">
        <li><a ui-sref="https://github.com/iamleonhardt"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a ui-sref="https://linkedin.com/in/iamleonhardt"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    </ul>
    <h3 id="description">| ux designer | web developer | lover | fighter |</h3>
    <!--<ul class="nav">-->
    <!--<li>Work</li>-->
    <!--<li>About</li>-->
    <!--</ul>-->


    <!--<h4 class="navList">|<a href="#!/home"> work </a>|<a href="#!/about"> about </a>|</h4>-->
</div>
