body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    color: #ffffff;
    /*background: linear-gradient(12deg, #E6DADA 10%, #274046);*/
    background: linear-gradient(12deg, #E6DADA 10%, #2a3032);
    background: linear-gradient(12deg, #7e8ab6 -15%, #191d1e);
    /*background-color: #000;*/
}

#description {
    color: #98ff00;
    color: #00e3ff;
    font-family: 'PT Mono', monospace;
    font-size: 1.4em;
    text-transform: uppercase;
    margin: 0;
}

p {
    font-size: .9em;
    text-align: left;
    /*display: inline-block;*/
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    right: 20px;
    font-size: 12px;
    color: #9a9a9a;
    text-align: right;
    margin: 10px 0;
}

button {
    border: none;
    background: transparent;
}

video.bgVideo {
    position: fixed;
    top: 50%;
    left: 30%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-30%, -50%);
}


/*Nav Bar*/
.nav {
    padding: 25px 0 25px 0;
    margin: 0 10px 0 0;
    list-style: none;
    text-align: right;
    text-transform: lowercase;
    position: absolute;
    top:0;
    right: 20px;
    z-index: 100;
    width: 100vw;
}

.nav > li {
    display: inline-block;
    padding: 0 14px 0 14px;
    opacity: 1.0;
}

.nav > li > a {
    text-decoration: none;
    color: #ffffff;
}

.nav > li > a:hover {
    color: #c1c1c1;
}

/*Nav Ba 2r*/
.nav2 {
    display: inline-block;
    /* padding: 25px 0 25px 0; */
    margin: 0;
    list-style: none;
    /* text-align: right; */
    text-transform: lowercase;
     position: relative;
    /* top: -12px; */
     right: 10px;
    z-index: 100;
    /* width: 100vw; */
}

.nav2 > li {
    /*display: inline-block;*/
    padding: 0 14px 0 14px;
    opacity: 1.0;
}

.nav2 > li > a {
    text-decoration: none;
    color: #ffffff;
}

.nav2 > li > a:hover {
    color: #c1c1c1;
}

#pageName{
    padding: 25px 0 20px 0;
    list-style: none;
    text-align: left;
    font-family: 'PT Mono', monospace;
    text-transform: uppercase;
    position: fixed;
    left: 0;
    z-index: 100;
    width: 20vw;
}

/*Name Wrapper*/
.wrapper {
    height: 86vh;
    position:relative;
    top:52%;
    transform: translateY(-50%);
    text-align: center;
    overflow: auto;
 }

.nameWrapper {
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
}

.nameWrapperLeft {
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
    right:150px;
}

.nameWrapperRight {
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
    left:150px;
}


.name {
    font-family: 'Oswald', sans-serif;
    font-size: 8em;
    margin: 0;
}

.name {
    position: relative;
    left: 42px;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 8em;
    margin: 0 auto;
}

/*About Page*/
.portrait{
     height: 200px;
     width: 200px;
     border-radius: 6px;
     background-image: url(images/bill.png);
     background-size: 130px;
     margin:auto;
     display: inline-block;
 }

.aboutCard {
    font-size:0;
    width: 950px;
    height: 220px;
    margin: 1vw;
    color: #ffffff;
    background-color: #484848;
    text-align: left;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.aboutCardImage {
    display: inline-block;
    background-image: url(images/bill.png);
    width: 180px;
    height: 180px;
    margin:20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutCardDetails {
    padding: 10px;
    vertical-align: top;
    font-size:16px;
    display: inline-block;
    width: 710px;
    height: 180px;
}

.aboutCardTitle {
    font-weight:400;
    color: #818181;
    /*position: absolute;*/
    /*left: 16px;*/
    /*top: 28%;*/
    /*transition: width 2s, height 2s;*/
}

.aboutCardSubTitle {

}

.aboutCardText {
    padding: 0 16px;
}

.aboutCardActionBar {
    border-top: 1px solid #E0E0E0;
    height: 52px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.aboutCardButton {
    outline: none;
    position: relative;
    display: inline-block;
    font-size: 18px;
    line-height: 52px;
    padding: 0 16px;
    color: #ff1744;
}


/*Applications Page*/
.card {
    width: 220px;
    height: 220px;
    margin: 1vw;
    color: #afafaf;
    background-color: #fafafa;
    text-align: left;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.cardImage {
    width:100%;
    height: 100%;
    /*background-color: #fafafa;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*background-image: url(images/image.jpg);*/
}

.cardTitle {
    font-weight:400;
    color: #ffffff;
    position: absolute;
    left: 16px;
    top: 0;
    transition: width 2s, height 2s;
}

.cardSubTitle {

}

.cardText {
    position: absolute;
    top: 20%;
    padding: 0 16px;
}

.cardActionBar {
    border-top: 1px solid #E0E0E0;
    height: 52px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.cardButton {
    outline: none;
    position: relative;
    display: inline-block;
    font-size: 18px;
    line-height: 52px;
    padding: 0 16px;
    color: #ff1744;
}


[ng-click] {
    cursor: pointer;
}

[ng-view] {
    height: 800px;
}

/*Media Queries*/
@media screen and (max-device-width: 800px) {
    html {
        /*background: url(videos/Love-Coding.jpg) #000 no-repeat center center fixed;*/
    }
    .bgVideo {
        display: none;
    }
}